<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spring MVC - list</title>

</head>

<body>
<div class="header" style="padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;">
    <h1>Ultimate database</h1>
    <p>Add Travel Contract </p>
    <p>Insurer info </p>
</div>

<div class="header" style="padding: 60px;
  text-align: center;
  background: #1E90FF;
  color: white;
  font-size: 30px;">
    <h1>INFO</h1>
    <p>U must fill out the datum</p>
    <p>The values must be positive numbers</p>
</div>

<div class="w3-bar" style="text-align: center; ">
    <button  class="w3-button w3-circle w3-black" style="background-color: #1abc9c;font-size: 24px;border-radius: 50%">+</button>
    <button class="w3-button w3-circle w3-black" style="background-color: #1abc9c;font-size: 24px;border-radius: 24%" onclick="location.href='/'">home </button>
</div>

<table style="padding: 50px;margin-left:auto; margin-right:auto; ">
    <thead>
    <tr style=" background-color: #1abc9c;color: white; ">
        <th class="mdl-data-table__cell--non-numeric">ID</th>
        <th class="mdl-data-table__cell--non-numeric">Firstname</th>
        <th class="mdl-data-table__cell--non-numeric">Lastname</th>
        <th class="mdl-data-table__cell--non-numeric">Email</th>
        <th class="mdl-data-table__cell--non-numeric">BirthID</th>
        <th class="mdl-data-table__cell--non-numeric">C.address</th>
        <th class="mdl-data-table__cell--non-numeric">P.address</th>

    </tr>
    </thead>
    <tbody>

    <tr>
        <td th:text="${user.id}"></td>
        <td th:text="${user.forname}"></td>
        <td th:text="${user.lastname}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.birthiD}"></td>
        <td th:text="${user.addressForCorrespondence}"></td>
        <td th:text="${user.permanentResidence}"></td>




    </tr>

    </tbody>
</table>




<form th:action="@{'/submitcontract/householdapp/'+ ${houseAndApartmentInsurance.id}+'/'+${user.id}}" th:object="${houseAndApartmentInsurance} "  method="post" style=" width:200px; display: inline-block;    padding: 50px;margin-left:45%; margin-right:50%; margin-top: 40px  " >

    <p th:text="${houseAndApartmentInsurance.datum}"></p>

    <label for="Start date">Start date</label>
    <input type="datetime-local" id="Start date"  required th:field="*{startdate}"/>
    <p th:if="${#fields.hasErrors('startdate')}" th:errors="*{startdate}"></p>
    <br>

    <label for="End date">Enddate</label>
    <input type="datetime-local" id="End date"  required th:field="*{enddate}"/>
    <p th:if="${#fields.hasErrors('enddate')}" th:errors="*{enddate}"></p>
    <br>

    <label for="Sum">Sum</label>
    <input type="number" id="Sum"  required th:field="*{sum}"/>
    <p th:if="${#fields.hasErrors('sum')}" th:errors="*{sum}"></p>
    <br>

    <label for="installment">Installment</label>
    <input type="number" id="installment"  required th:field="*{installment}"/>
    <p th:if="${#fields.hasErrors('installment')}" th:errors="*{installment}"></p>
    <br>

    <!------------------------------------------------------------------------------------------------------------->
    <label style="width:200px; display: inline-block; "   for="value">Value</label>
    <input type="number" id="value"  required th:field="*{value}"/>
    <p th:if="${#fields.hasErrors('value')}" th:errors="*{value}"></p>
    <br>

    <label for="zipcode">Zip code</label>
    <input type="text" id="zipcode"   th:field="*{address.zipcode}"/>
    <p th:if="${#fields.hasErrors('address.zipcode')}" th:errors="*{address.zipcode}"></p>
    <br>
    <label for="city">City</label>
    <input type="text" id="city"   th:field="*{address.township}"/>
    <p th:if="${#fields.hasErrors('address.township')}" th:errors="*{address.township}"></p>
    <br>

    <label for="street">Street</label>
    <input type="text" id="street"    th:field="*{address.street}"/>
    <p th:if="${#fields.hasErrors('address.street')}" th:errors="*{address.street}"></p>
    <br>

    <label for="number">House number</label>
    <input type="text" id="number"   th:field="*{address.number}"/>
    <p th:if="${#fields.hasErrors('address.number')}" th:errors="*{address.number}"></p>
    <br>



    <p>PropertyType</p>

    <select th:field="*{propertyType}"  >
        <option
                th:each="trip: ${triptype}"
                th:value="${trip} "
                th:text="${trip.properity}">

        </option>
    </select>

    <!------------------------------------------------------------------------------------------------------------->

    <label for="garage_insurance">garage_insurance</label>
    <input type="checkbox" id="garage_insurance"   th:field="*{garage_insurance}"/>
    <br>





    <input style="background-color: #1abc9c;font-size: 24px;border-radius: 50%; margin-top: 12px"  type="submit" value="Submit"/>








</form>


</body>
</html>